*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #eee;
}

/*header*/
header{
    width: 100%; background-color: rgb(153, 0, 0); padding: 10px 100px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; position: fixed; top: 0;
}
.webLogo{
    float: left; width: 30%;
}
.webLogo h1{
    font-size: 40px; margin: 2px auto; color: white;
}
nav{
    float: left; width: 70%;
}
nav ul{
    list-style-type: none; margin: 0; padding: 0; float: right;
}
nav ul li{
    display: inline-block;
}
nav ul li a:link, nav ul li a:visited{
    display: block; padding: 10px 20px; color: #eee; text-decoration: none; font-size: 20px;
}
nav ul li a:hover{
    color: black;
}

/*Section*/
section{
    height: auto;
}
article{
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}
article.main-top{
    color: rgb(121, 1, 1); background-color: rgba(238, 191, 2, 0.748); min-height: 600px; padding: 150px 0 100px 130px; font-family: arial;
}
article.main-top h2{
    font-size: 40px;
}
article.main-top p{
    width: 320px; font-size: 20px; word-spacing: 10px; line-height: 1.5; margin-top: 40px;
}
#contact-bt{
    color: white; background-color: rgb(227, 69, 69); margin-top: 20px; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px;
}

/*Article : about*/
#about{
    min-height: 600px; padding: 100px 0;
}
#about-image{
    height: 600px; width: 50%; float: left;
}
#about-image-box{
    border: 1px solid #abc; border-radius: 5px; width: 350px; height: 600px; margin: auto; padding: 10px;
}
#about-image-box img{
    padding: 20px;
}
#about-details{
    width: 50%; float: left; min-height: 600px; padding: 150px 0;
}
#about-details h3{
    font-size: 35px; color: tomato;
}
#about-details p{
    width: 340px; word-spacing: 10px; line-height: 1.5;
}
#readmore-bt{
    padding: 10px 20px; margin-top: 30px; border-radius: 5px; border: 1px solid gray;
}

/*Article : our prdouct*/
#ourDesign{
    text-align: center; padding: 10px 0 40px;
}
#design-model{
    max-width: 1200px; margin: auto;
}
.model-box{
    width: 350px; height: 480px; margin: 10px; background-color: white; border: 1px solid #abc; border-radius: 8px; float: left;
}
.model-box h4{
    font-size: 22px; font-family: arial;
}
.model-box h5{
    color: red; font-size: 20px;
}
.model-box button{
    padding: 5px 10px; color: brown;
}
.img1{
    width: 200px; height: 250px;
}
.img2{
    width: 310px; height: 250px;
}
.img3{
    width: auto; height: auto;
}

/*Article : Newsletter*/
#newsletter{
    margin: 60px auto;
}
.column{
    width: 50%; float: left; padding: 20px;
}
.nLeft img{
    width: 70%; height: auto; margin: auto; display: block;
}
.nRight{
    text-align: center;
}
.nRight h3{
    font-size: 40px;
}
.nRight #email{
    display: block; margin: auto; padding: 10px; width: 350px; background-color: rgb(195, 189, 189); border: none;
}
.nRight input[type="button"]{
    display: block; padding: 10px 20px; margin: 25px auto; background-color: #d9534f; color: white; border: none; border-radius: 5px;
}

/* Article: Contact Form and Map */
.cForm input, .cForm textarea{
    width: 300px; display: block; padding: 5px; margin: 10px 0;
}
.cForm textarea{
    resize: none; height: 100px;
}
.cForm input[type=submit]{
    width: auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 1024px){
    .model-box{
        float: none; margin: 20px auto;
    }
}
@media screen and (max-width: 768px){
    article.main-top{
        padding-left: 40px;
    }
    #about-image, #about-details, .column{
        width: 100%;
    }
    #about-details{
        text-align: center; padding: 10px 0; min-height: auto;
    }
    #about-details p{
        margin: auto;
    }
}
@media screen and (max-width: 480px){
    header{
        padding-right: 5px;
    }
    nav ul li{
        display: block;
    }
}
